

.main-nav:hover{
    color:tomato;
}

.main-nav-active{
    color:tomato;
}


.profile-img{
    width:100%;
    height:200px;
    border-radius: 30px;
}

.comment-img{
    width:100%;
    height:300px;
}



