{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
    <div class="card">
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">{%csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="제출하기" class="btn btn-danger">
                <a href="/" class="btn btn-success">돌아가기</a>

            </form>
        </div>
    </div>
</div>

</body>
</html>